%center
	%h4.text-about
		ACERCA DE NOSOTROS
	= image_tag("frontend/DIVISIÓN NOSOTROS.png", class: "divisor-about")
	%h4.text2-about
		Formando nuevos líderes humanistas.

.row{ style: "margin:0px;"}
	.col-lg-12
		.container#desctiption-about
			= image_tag "frontend/BARRA NOSOTROS.png", class: "bar"
			.circle#circle-1.hidden-lg.hidden-md
			.circle#circle-2.hidden-lg.hidden-md
			.circle#circle-3.hidden-lg.hidden-md
			.container.text#text-1
				%p.descripcion.hidden-xs.hidden-tablet  Nuestra visión es ser la organización en la formación de Líderes en base a una Cultura Humanista de Clase Mundial con una filosofía dirigida al crecimiento personal y profesional, impulsando la prosperidad con base en valores para alcanzar la plenitud del ser humano en búsqueda de la Excelencia.
				%p.descripcion.visible-xs  Nuestra visión es ser la organización en la formación de Líderes en base a una Cultura Humanista de Clase Mundial con una filosofía dirigida al crecimiento personal y profesional.
			.container.text#text-2
				%p.descripcion.hidden-xs.hidden-tablet Nuestra misión es la formación integral de Líderes de Excelencia encaminándolos al desarrollo de una Cultura Humanista de Clase Mundial que promuevan la plenitud humana, el bien, la simplicidad de la vida y la verdad, para alcanzar el crecimiento personal en beneficio de la humanidad.
				%p.descripcion.visible-xs Nuestra misión es la formación integral de Líderes de Excelencia encaminándolos al desarrollo de una Cultura Humanista de Clase Mundial que promuevan la plenitud humana.
			.container.avatar
				.overavatar
					%center{style: "padding-top: 60px;"}
						%p.text-mask Jorge Perozo
						%p.text-mask2 CEO
						= link_to "https://ve.linkedin.com/pub/jorge-perozo-jorgeperozog-gmail-com/8b/4a9/b69", target:"_blank" do
							%i.fa.fa-linkedin{style: "margin-right: 25px;"}
						= link_to "https://twitter.com/jorgeperozog", target:"_blank" do
							%i.fa.fa-twitter{style: "margin-right: 20px;"}
						= link_to "https://instagram.com/jorgeperozp/", target:"_blank" do
							%i.fa.fa-instagram

.banner2
	%h5.text-banner
		%strong.yellow ¡ 
		Ahora es el momento de escalar
		%strong.yellow !