.containerblog
	%center
		%h4.text-blog
			BLOG
		= image_tag("frontend/DIVISIÓN BLOG.png", class: "divisor-blog")
		%h4.text2-blog
			Contenido diseñado especialmente para ti.
		.row
			- @posts.each do |post|	
				.col-lg-4.col-md-4.col-sm-12.col-xs-12{style:" overflow: hidden;"}
					.container-images
						%img.img-responsive{:src => "#{post.image}"}
							.mask-img		
							= link_to "blog/posts/#{post.permalink}" do	
								%i.fa.fa-eye.icon
					.container-title
						%a.titlepost{:href => "blog/posts/#{post.permalink}"}
							=post.title	
			.col-lg-12.col-md-12.col-sm-12.col-xs-12{style:"margin-bottom: 20px;"}
				%center
					%a.btn-blog{:href => "/blog/posts"} ¡Ver mas!
			

					

