.containercontacts
	%center
		%h4.text-contacts
			CONTACTO
		= image_tag("frontend/DIVISIÓN CONTACTO.png", class: "divisor")
		%h4.text2-contacts
			Estamos para servirle
	.row.contact-row{style:"margin-right:0px;"}
		.col-lg-4.col-md-12.col-sm-12.col-xs-12{style:"padding-right: 0px;"}
			.contact-info
			%center.visible-xs.visible-sm.visible-md
				%h3 Comunícate con nosotros y hagamos cosas extraordinarias
				%hr.title-hr.pull-left
				%br
				%br/	
				%p info@debotonesagerente.com
				%br/
				%p PARAGUANÁ - VENEZUELA
				%br/
				%p{style:"margin-bottom:20px;"} +58 0412 128 7639
				%p RIF: J-405563893

			%left.visible-lg
				%h3 Comunícate con nosotros y hagamos cosas extraordinarias
				%hr.title-hr.pull-left
				%br
				%br/	
				%p{style:"padding-left: 20px;"}	info@debotonesagerente.com
				%br/
				%p{style:"padding-left: 20px;"} PARAGUANÁ - VENEZUELA
				%br/
				%p.margin{style:"padding-left: 20px;"} +58 0412 128 7639
				%br/
				%p{style:"padding-left: 20px;"} RIF: J-405563893
		.col-lg-8.col-md-12.col-sm-12.col-xs-12{style:"padding-right: 0px;"}
			= render "layouts/frontend/messages"
			= form_tag('/contact_us/send_contact_message', method: "post", id: "form-contact_us") do
				.col-lg-6
					= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', :required => "", :title => "Se necesita un nombre"
				.col-lg-6
					= text_field_tag :email, "", :class=>'form-control', :type => "email", :placeholder=>'Email', :required => "", :title => "Introduce un email valido"
				.col-lg-12	
					= text_field_tag :subject, "", :class=>'form-control', :type => "text", :placeholder=>'Asunto', :required => "", :title => "Introduce el asunto"
				.col-lg-12	
					= text_area_tag :content, "", :class=>'form-control' , :placeholder=>'Mensaje', :required => "", :title => "Introduce tu mensaje"
			
				.col-lg-6.col-md-6.col-sm-6.col-xs-12.captha{style:"margin-top:10px;"}
					= raw recaptcha_tags :display => { :theme => '', lang: 'es' }, ajax: true
				.col-lg-6.col-md-6.col-sm-6.col-xs-12{style:"float: right; margin-bottom: 15px;"}
					= button_tag(type: 'submit', class: "btn btn-primary btn-lg", id: "btn-send") do
						Enviar
