.containerfooter 
	%center
		= link_to "https://facebook.com/botonesagerente", target:"_blank" do
			%i.fa.fa-facebook{style: "margin-right: 40px;"}
		= link_to "https://twitter.com/botonesagerente", target:"_blank" do
			%i.fa.fa-twitter{style: "margin-right: 40px;"}
		= link_to "https://instagram.com/botonesagerente", target:"_blank" do
			%i.fa.fa-instagram{style: "margin-right: 40px;"}

.containerlogo
	.image
		= image_tag("frontend/ISOTIPO FOOTER.png") 
.containerslice{style:"padding-top: -10px;"}
	.container
		.row 
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				%h3.textslice
				Desarrollado por 
				.slice
					= link_to "http://slicegroup.xyz/", target: "_blank" do
						= image_tag "frontend/slice.png"
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				.pull-right
					%h3.textslice
					%span
						Diseñado por 
					.muffin
						= link_to "http://studiomuffin.com/", target: "_blank" do
							= image_tag "frontend/muffin.png"
		
