#div-1.active
#div-2
#div-3
.container
  %ul.hidden-xs 
    %center
      %li
        %a.page-scroll{:href => "#scroll"} ¿QUIÉN ES?
      %li
        %a.page-scroll{:href => "#about"} ¿QUÉ HACEMOS?
      %li
        = image_tag("frontend/isotipo.png", id: "logoimage")
      %li
        %a.page-scroll{:href => "#blog"} BLOG
      %li
        %a.page-scroll{:href => "#contact_us"} CONTACTO
  = image_tag "frontend/isotipo.png", class: "visible-xs visible-sm visible-md"
  %h1.text-home
    Conferencista 
    %span
      Humanista
    de Alto Impacto

.col-lg-12#wrapper
  %center
    %a.btn-conocenos.page-scroll2{:href => "#scroll"} ¡Conoce más!



