= render 'layouts/frontend/navigation'
%center
	%h4.text-services#scroll
		DE BOTONES A GERENTE
	= image_tag("frontend/DIVISIÓN SERVICIOS.png", class: "divisor")
	%h4.text2-services
		Un verdadero éxito, es cuando este ayuda a crecer a los demás.

   
	#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
	-@services.each do |service|
		- if service.id ==1	
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingOne.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px; padding-top: 0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==2
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingTwo.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==3
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingTres.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseCres", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTres"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseTres.panel-collapse.collapse{"aria-labelledby" => "headingTres", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==4
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingCuatro.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseCuatro", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseCuatro"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseCuatro.panel-collapse.collapse{"aria-labelledby" => "headingCuatro", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==5
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingCinco.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseCinco", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseCinco"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseCinco.panel-collapse.collapse{"aria-labelledby" => "headingCinco", :role => "tabpanel"}
					.panel-body
						#{service.description}	

		-if service.id ==6
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingSeis.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseSeis", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeis"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseSeis.panel-collapse.collapse{"aria-labelledby" => "headingSeis", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==7
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingSiete.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseSiete", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSiete"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseSiete.panel-collapse.collapse{"aria-labelledby" => "headingSiete", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==8
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingOcho.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseOcho", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOcho"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseOcho.panel-collapse.collapse{"aria-labelledby" => "headingOcho", :role => "tabpanel"}
					.panel-body
						#{service.description}						

		-if service.id ==9
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingNueve.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseNueve", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNueve"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseNueve.panel-collapse.collapse{"aria-labelledby" => "headingNueve", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==10
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingDiez.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseDiez", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseDiez"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseDiez.panel-collapse.collapse{"aria-labelledby" => "headingDiez", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==11
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingOnce.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseOnce", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOnce"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseOnce.panel-collapse.collapse{"aria-labelledby" => "headingOnce", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==12
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingDoce.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseDoce", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseDoce"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseDoce.panel-collapse.collapse{"aria-labelledby" => "headingDoce", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==13
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingTrece.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseTrece", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTrece"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseTrece.panel-collapse.collapse{"aria-labelledby" => "headingTrece", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==14
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingCatorce.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseCatorce", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseCatorce"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseCatorce.panel-collapse.collapse{"aria-labelledby" => "headingCatorce", :role => "tabpanel"}
					.panel-body
						#{service.description}

		-if service.id ==15
			.panel.panel-services{style:"margin-bottom:2px;"}
				#headingQuince.panel-heading{:role => "tab"}
					%a.panel-title.collapsed{"aria-controls" => "collapseQuince", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseQuince"}
						#{service.name.mb_chars.upcase.to_s}
						%i.drop.fa.fa-angle-left#left{style:"margin-left:0px;"}
						%i.drop.fa.fa-angle-down#down{style:"margin-left:-15px;"}
				#collapseQuince.panel-collapse.collapse{"aria-labelledby" => "headingQuince", :role => "tabpanel"}
					.panel-body
						#{service.description}

.bannerservices
	%center
		%h5.text-banner
			%strong.yellow ¡ 
			Estás a un paso del cambio 
			%strong.yellow !


:javascript
	$(document).ready(function(){
		$('.collapse').on('show.bs.collapse', function () {
			$('#accordion').find('.in').collapse('hide')
			$('#collapseOne').collapse('hide')
			$('#collapseTwo').collapse('hide')
			$('#collapseTres').collapse('hide')
			$('#collapseCuatro').collapse('hide')
			$('#collapseCinco').collapse('hide')
			$('#collapseSeis').collapse('hide')
			$('#collapseSiete').collapse('hide')
			$('#collapseOcho').collapse('hide')
			$('#collapseNueve').collapse('hide')
			$('#collapseDiez').collapse('hide')
			$('#collapseOnce').collapse('hide')
			$('#collapseDoce').collapse('hide')
			$('#collapseTrece').collapse('hide')
			$('#collapseCatorce').collapse('hide')
			$('#collapseQuince').collapse('hide')


		})
	})

