.widget
	%a.twitter-timeline{"data-widget-id" => "587677853795409920", :href => "https://twitter.com/botonesagerente"} Tweets por el @botonesagerente.
	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

