- if current_user
	.sidebar-modal
	.sidebar.affix 
		.brand
			= image_tag "admin/inyxtech.png", width: "130px", class: "logo-nav"
		.perfil
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
			.name-avatar
				%p
					= current_user.name
				%small= current_user.roles.first.name.humanize
				%br
				.btn-group{ style: "margin-top:5px;"}				
					=link_to main_app.root_path(current_user.id), class: 'btn btn-sm' do
						%i.fa.fa-reply
					=link_to main_app.edit_user_path(current_user.id), class: 'btn btn-sm' do
						%i.fa.fa-edit
					= link_to main_app.destroy_user_session_path, :method=>'delete', class: 'btn btn-sm danger' do
						%i.fa.fa-power-off
		.title-sidebar
		%ul.nav.nav-sidebar.title-components
			= render "layouts/admin/sidebar_links"
