= simple_form_for(@user) do |f|
	.container_form	
		.title_form
			Datos de usuario
		.form-inyx
			= f.input :name, label: false, input_html: { class: 'form-control input-inyx',placeholder: "Nombre" }
			= f.input :email, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Email" }
			= f.input :role_ids, label: false, collection: Role.all, include_blank: "- Rol -", input_html: { class: "form-control input-inyx" }
			= #raw t('devise.announce_password') if params[:action] == 'edit' or params[:action] == 'update'
			= f.input :password, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Contraseña" }
			= f.input :password_confirmation, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Confirmar contraseña" }
		%br
		.panel-footer
			.form-actions
				= f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
			.clearfix