%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag 'blog/frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'blog/frontend/application', 'data-turbolinks-track' => true
	=favicon_link_tag "frontend/favicon_botones.png"
	= csrf_meta_tags