!!!
%html
  = render 'layouts/inyx_blog_rails/frontend/head' 
  %body
    %header
      = render 'layouts/frontend/navigation'
    %main{:role => "main"}
      = #render 'layouts/frontend/messages'
      = yield

.containerslice{style:"font-family: 'Roboto Condensed', sans-serif; font-weight: 300; font-size: 22px; color: #818181;  width: 100%; height: 60px;"}
  %center
    %h3.textslice{style:"display: block; font-size:14px; margin-top: 0px; margin-bottom: 0px; padding-top:10px;"}
      Desarrollado por 
      .slice{style:"width: 100%; display: inline-block; width: 50px; height: 26px; padding-top: 8px;"}
        = image_tag("frontend/slice.png")