%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Asesoría hotelera en Venezuela - Desde Botones hasta el Gerente.'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : ' Asesoria hotelera en Venezuela, desde el Botones hasta el gerente. Todos los departamentos,operativos, administrativos, comerciales, estrategicos, marketing, operaciones, recepcion, administracion, costos, procedimientos.'}"}
	%meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}
	%link{ href: "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css" }
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	=favicon_link_tag "frontend/favicon_botones.png"
	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-61839169-1', 'auto');
			ga('send', 'pageview');