-if action_name == "index"
	%li= link_to 'HOME', "#home", class: "ocultarhome"
	%li= link_to '¿QUIÉN ES?', "#services"
	%li= link_to '¿QUÉ HACEMOS?', "#about"
	%li= link_to 'BLOG', "#blog"
	%li= link_to 'CONTACTOS', "#contact_us"
-else
	%li= link_to 'HOME', "#home", class: "ocultarhome"
	%li= link_to '¿QUIÉN ES?', main_app.root_path(anchor: "services"), class: "external"
	%li= link_to '¿QUÉ HACEMOS?', main_app.root_path(anchor: "about"), class: "external"
	%li{ class: "#{'current' if controller_name == 'posts'}" }= link_to 'BLOG', index_front_posts_path, class: "external"
	%li= link_to 'CONTACTOS', main_app.root_path(anchor: "contact_us"), class: "external"
