%nav.navbar.navbar-default#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.root_path do
        = image_tag "frontend/Objeto inteligente vectorial13.png", width: "130px", style: "margin-top:10px;margin-bottom: 10px;margin-right:20px; padding-left: 10px;" , class: "pull-left"     
    .collapse.navbar-collapse#front-navbar-2
      %ul.nav.navbar-nav.top-nav     
        = render 'layouts/frontend/navigation_links'	
