-if browser.ie?
	!!!
	%html
		= render 'layouts/frontend/head' 
		%body
			%center
				%p{style:"font-family: 'Roboto Condensed', sans-serif; font-weight: 700; color: #333333; padding-top: 20%;"} Usted está navegando a travez de IE . Por favor, actualize a otro navegador como Chrome o Firefox !
				%i.fa.fa-frown-o{style:"padding-top: 15px; font-size: 120px;"}

-else	
	!!!
	%html
		= render 'layouts/frontend/head' 
		%body
			%header
			%main{:role => "main"}
				= #render 'layouts/frontend/messages'
				= yield

