	#about{
	.text-about{
		padding-top: 0px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: 25px;
		color: #333333;
	}

	.text2-about{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #afafaf;
		margin-top: 15px;
		margin-bottom: 115px;
	
	}

	.banner2{
		position: relative;
		background: url('../frontend/descanso_visual_2.jpg') no-repeat fixed;
		margin-top: 50px;

		.text-banner{
			padding-left: 70px;
			padding-top: 130px;
			padding-bottom: 140px;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			font-size: 2em;
			color: #181819;

			.yellow{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				font-size: 60px;
				color: #fbc306;
			}
		}
	}

	.divisor-about{
		width: 90%;
		margin-top: 20px;
		padding-bottom: 0px;
		margin-bottom: 35px;
	}

	#desctiption-about {
		margin-left: 45px;
		padding-top: 25px;
		width: 94%;
		position: relative;
	}

	.bar {
		position: absolute;
		top: 90px;
		width: 300px
	}

	.circle{
		border: solid 9px #c2a727;
		position: absolute;
		width: 50px;
		height: 50px;
		background: white;
		border-radius: 100%;
		z-index: 2;
	}

	#circle-1 {
		top: 60px;
		left: -5px;
	}

	#circle-2 {
		top: 285px;
		left: -5px;
	}

	#circle-3 {
		top: 680px;
		left: 265px;
	}

	.text {
		border-color: #c2a727;
		position: relative;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 25px;
		padding-right: 25px;
		margin-left: 50px;
		top: -18px;
		width: 95%;
		background: #545454;
		border-radius: 10px;
		z-index: 3;

		.descripcion {

			color: #F8F5F6;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 400;
			font-size: 22.5px;
			margin-bottom: 0px;
			text-align: center;
			padding: 0px 20px 0px 20px;
		}
	}

	#text-2 {
		top: 0px;
		background: #8B8889;
		margin-top: 20px;
	}

 
	.avatar{
		overflow: hidden;
		position: relative;
		margin-top: 120px; 
		margin-bottom: 80px;
		padding: 0px;
		background-image: url('../frontend/jorge_perozo.png');
		background-size: 100% 100%;
		width: 350px;
		height: 380px;
		border-radius: 6.5px;

		.overavatar{

		width: 350px;
		height: 380px;
  		background-color: rgba(251, 195, 6, 0.70);
		padding: 0px;
  		top: -380px;
  		position: relative;	 
  		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: all;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
		transition-property: all;
		transition-timing-function: ease-in-out;
		border-radius: 5px;



			p{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				font-size: 32px;
				color: #F8F5F6;
			}

			.text-mask2{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				font-size: 20px;
				color: #F8F5F6;
			}

			i{
				font-size: 50px;
				text-decoration: none;
				color: #ffffff;
			}

			i:hover{
				color: #AEAEAE;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
    			transition: 0.5s;
			}
		}
	}

	.avatar:hover { 
		.overavatar {
			top: 0px;
		}
	} 
	
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	#about{

		.text-about{
		padding-top:100px;
	
		}


		.banner2{
			background-position: center center;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		
		}

		.avatar{

			.overavatar{

				.text-mask{
				padding-top: 50px;
				}	
			}
		}	
	}		
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#about{
	padding-top: 75px;
		.text2-about{
			margin-bottom: 50px;
		}

		.bar{
			display: none;
		}

		.circle{
			display: none;
		}

		.container#desctiption-about{
			width: 100%;
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.container.text{
			width: 100%;
			padding-top: 20px;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 20px;
			margin-left: 0px;


			.descripcion{
				padding: 10px 10px 10px 10px;
				text-align: center;
				font-size: 20px;
				margin-bottom: 0px;
			}
		}

		.banner2{
			margin-top: 10px;


			.text-banner {
				padding-top: 140px;
				padding-left: 10px;
				padding-right: 10px;
				margin-left: 0px;
				color: #ffffff;
				text-align: center;
				font-size: 2em;

					.yellow{
						font-size: 30px;
					}
			}
		}

			.avatar{
				height: 380px;

		.overavatar{

			p{
				padding-top: 35px;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				font-size: 32px;
				color: #F8F5F6;
			}

			.text-mask2{
				padding-top: 5px;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				font-size: 20px;
				color: #F8F5F6;
			}
		}
	}

	}
	
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
		#about{
		.text-about{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-about{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 20px;
			margin-bottom: 30px;
		}


		.banner2{
			background: url('../frontend/descanso_visual_2.jpg');
			margin-top: 50px;
			background-size: 100% 130%;


			.text-banner {

			padding-bottom: 70px;
			padding-top: 70px;
			padding-left: 10px;
			padding-right: 10px;
			margin-left: 0px;
			text-align: center;

				.yellow{
					font-size: 30px;
				}
			}
		}

		.divisor-about{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

		.bar{
			display: none;
		}

		.circle{
			display: none;
		}

		.container#desctiption-about{
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.container.text{
			width: 100%;
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			margin-left: 0px;
	
			.descripcion{
				padding: 0px 0px 0px 0px;
				text-align: center;
				font-size: 16px;
				margin-bottom: 0px;
			}
		}

		#text-2 {
		margin-top: 30px;
	}

		#desctiption-about {
			width: 100%;
		}

		.avatar{
			margin-bottom: 0px;
			margin-top: 50px;
			width: 250px;
			height: 290px;
			box-shadow: 0px 0px 0px #848182;

				.overavatar{
				top: -360px;
				width: 100%;
				height: 360px;
  			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
		#about{

		.text-about{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-about{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 20px;
			margin-bottom: 30px;
		}

		.bar{
			display: none;
		}

		.circle{
			display: none;
		}

		.container#desctiption-about{
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.container.text{
			width: 100%;
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			margin-left: 0px;


			.descripcion{
				padding: 5px 0px 5px 0px;
				text-align: center;
				font-size: 16px;
			}
		}

		#desctiption-about {
			width: 100%;
		}

		#text-2{
			margin-top: 10px;
		}

		.avatar{
			margin-top: 30px;
			width: 250px;
			height: 250px;	
			margin-bottom: 0px;

			.overavatar{
			top: -360px;
			width: 100%;
			height: 290px;
			}
		}

		.banner2{
			background: url('../frontend/descanso_visual_2.jpg') no-repeat;
			margin-top: 35px;
			background-size: 100% 80%;


		.text-banner {
			padding-bottom: 65px;
			padding-top: 35px;
			padding-left: 0px;
			padding-right: 0px;
			margin-left: 0px;
			text-align: center;
			font-size: 1.5em;

				.yellow{
					font-size: 30px;
				}
			}
		}
	}
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
	#about{
		.text-about{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-about{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 20px;
			margin-bottom: 30px;
		}


		.banner2{
			background: url('../frontend/descanso_visual_2.jpg');
			margin-top: 50px;
			background-size: 130% 100%;


			.text-banner {

			padding-bottom: 30px;
			padding-top: 30px;
			padding-left: 10px;
			padding-right: 10px;
			margin-left: 0px;
			text-align: center;
			font-size: 1.5em;

				.yellow{
					font-size: 30px;
				}
			}
		}

		.divisor-about{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

		.bar{
			display: none;
		}

		.circle{
			display: none;
		}

		.container#desctiption-about{
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.container.text{
			width: 100%;
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			margin-left: 0px;
	
			.descripcion{
				padding: 0px 0px 0px 0px;
				text-align: center;
				font-size: 16px;
			}
		}

		#text-2 {
		margin-top: 30px;
	}

		#desctiption-about {
			width: 100%;
		}

		.avatar{
			margin-bottom: 0px;
			margin-top: 50px;
			width: 250px;
			height: 290px;
			box-shadow: 0px 0px 0px #848182;

				.overavatar{
				top: -360px;
				width: 100%;
				height: 360px;

			p{
				margin-top: 10px;
			}
  			}
		}
	}
}