#blog{
	
	.divisor-blog{
		width: 100%;
		margin-top: 20px;
		padding-bottom: 0px;
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.text-blog{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		color: #333333;
		font-size: 25px;
	}

	.text2-blog{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		color: #afafaf;
	  	font-size: 21px;
	  	margin-top: 40px;
	  	margin-bottom: 70px;
	}

	.container-images{ 
		position: relative;
		overflow: hidden;

		.mask-img{
			position: absolute;
			z-index: 1;
			background-color: rgba(251, 195, 6, 0.70);
			width: 100%;
			height: 330px;
			top: -350px;
			padding: 0px;
			-webkit-transition-duration: 0.4s;
			-webkit-transition-property: all;
			-webkit-transition-timing-function: ease-in-out;
		}
	
		.icon{
			text-decoration: none;
			text-align: center;
			position: absolute;
			top: 315px;
			left: 41%;
			font-size: 70px;
			color: #ffffff;
			-webkit-transition-duration: 0.4s;
			-webkit-transition-property: all;
			-webkit-transition-timing-function: ease-in-out;

		}
	}

	.container-images .img-responsive{
		overflow: hidden;
		border-radius: 8px 8px 0px 0px;
		width: 100%;
		height: 310px;

	}

	.container-images:hover{
		.mask-img{
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: ease-in-out;
			top:0px;	
			border-radius: 8px 8px 0px 0px}
		.icon{
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: ease-in-out;
			top: 130px;
			z-index: 10000;

		}
	}


	.icon:hover{
	color: #545454;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}


	.container-title{
		padding: 20px 15px 25px 15px;
		background: #545454;
		border-radius: 0px 0px 8px 8px;
		width: 100%;
		height: 100px;
		margin-bottom: 50px;

		.titlepost{
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			font-size: 16px;
			text-decoration: none;
			color: #ffffff;
			text-align: center;

		}
	}

		.btn-blog{
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 300;
			position: relative;
			padding: 7px 6px 7px 6px;
			border-radius: 7px;
			border: solid 3px;
		  	border-color: #C2A727;
			text-decoration: none;
			font-size: 24px;
			background: rgba(0,0,0,0.6);
			color:#E3E9D6;
		}
		
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	#blog{
		padding: 90px 80px 0px 80px;
	}



}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#blog{
		padding-top: 75px;
		padding-left: 100px;
		padding-right: 100px;

			.container-images:hover{

			.icon{
				top: 80px;
			}
		}


		.container-images .img-responsive{

			width: 100%;
			height: 230px;
		}


	.container-images{ 
	
		.icon{
		left: 38%;

		}
	}




			.container-title{
			padding: 15px 5px 10px 5px;

			.titlepost{
				font-size: 16px;
			}
		}	

	}
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#blog{
		margin-left: 15px; 
		margin-right: 15px; 
		padding-left: 0px; 
		padding-right: 0px; 
		padding-top: 0px;
	
		.text-blog{
					padding-top: 75px;
			font-size: 20px;
		}

		.text2-blog{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 30px;
		}

		.divisor-about{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

		.container-images:hover{

			.icon{
				top: 100px;
				left: 45%;

			}
		}

		.container-images .img-responsive{

			width: 50%;
			height: 250px;
		}

		.container-images{ 
			position: relative;

			.mask-img{
				left: 25%;
				width: 50%;
				height: 250px;
				top: -250px;
				padding: 0px;
			}
	
			.icon{
				top: 240px;
				left: 45%;
				font-size: 70px;
			}
		}

		.container-title{
			width: 50%;
			height: auto;
			padding: 10px 10px 10px 10px;
			margin-bottom: 50px;


			.titlepost{
				font-size: 12px;
			}
		}
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	
	#blog{
		margin-left: 15px; 
		margin-right: 15px; 
		padding-left: 0px; 
		padding-right: 0px; 
		padding-top: 0px;
	
		.text-blog{
			padding-top: 75px;
			font-size: 20px;

		}

		.text2-blog{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 30px;
		}

		.divisor-about{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}
				.container-images:hover{

			.icon{
				top: 70px;

			}
		}

		.container-images .img-responsive{

			width: 50%;
			height: 200px;
		}

		.container-images{ 
			position: relative;

			.mask-img{
				left: 25%;
				width: 50%;
				height: 200px;
				top: -200px;
				padding: 0px;
			}
	
			.icon{
				top: 180px;
				left: 45%;
				font-size: 70px;
			}
		}

		.container-title{
			height: auto;
			width: 50%;
			padding: 10px 10px 10px 10px;
			margin-bottom: 50px;


			.titlepost{
				font-size: 12px;
			}
		}

	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	#blog{
		margin-left: 15px; 
		margin-right: 15px; 
		padding-left: 0px; 
		padding-right: 0px; 
		padding-top: 0px;
	
		.text-blog{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-blog{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 30px;
		}

		.divisor-about{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

		.container-images:hover{

			.icon{
				top: 60px;

			}
		}

		.container-images .img-responsive{

			width: 80%;
			height: 180px;
		}

		.container-images{ 
			position: relative;

			.mask-img{
				left: 10%;
				width: 80%;
				height: 180px;
				top: -180px;
				padding: 0px;
			}
	
			.icon{
				top: 180px;
				left: 40%;
				font-size: 70px;
			}
		}

		.container-title{
			width: 80%;
			height: auto;
			padding: 10px 10px 10px 10px;
			margin-bottom: 50px;


			.titlepost{
				font-size: 12px;
			}
		}
	}
}