#contact_us{
	.containercontacts{
		background: #DDDDDD;
	}

	h3{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: 28px;
		color: #4E4E4E;
		margin-top: 0px;
		padding-right: 20px;
  		padding-left: 20px;

	}

	p{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		color: #555555;
		margin-bottom: 0px;
		font-size: 18px;
		padding-left: 0px;

	}

	.divisor{
		width: 90%;
		margin-top: 20px;
		padding-bottom: 0px;
		margin-bottom: 35px;
	}

	.text-contacts{

		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		color: #333333;
		font-size: 25px;
	}

	.text2-contacts{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		margin-top: 30px;
		margin-bottom: 80px;
		color: #afafaf;
	  	font-size: 21px;

	}

	.form-control#name{
		border-radius: 6px;
		margin-top: 10px;
		height: 60px;
	
	}

	.form-control#email{
		border-radius: 6px;
		margin-top: 10px;
		height: 60px;

	}

	.form-control#subject{
		border-radius: 6px;
		margin-top: 10px;
		height: 60px;

	}

	.form-control#content{
		border-radius: 7px;
		margin-top: 10px;
		height: 161px;

	}

	.form-control#recaptch-desing{
		margin-top: 10px;
		height: 60px;
   		 width: 40px;
	}
	
	.form-control#recaptcha_response_field{
		margin-top: 10px;
		width: 100%;
		height: 60px;
	}

	#form-contact_us{
		#recaptcha_widget{
			#recaptcha_image{
				margin-top: 10px;
				width: 470px !important;
				img{
					width: 450px;
					height: 60px;
				}
			}
		}
	}

}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	#contact_us{
		.text-contacts{
			padding-top: 100px;
		}

		.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
	  		width: 50%;
		}

		h3{
			padding-top: 6px;

		}

	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#contact_us{
		.text-contacts{
			padding-top: 85px;
		}

		
		.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
	  		width: 50%;
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#contact_us{
		.text-contacts{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-contacts{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.divisor-contacts{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}	

		h3{
			font-size: 18px;
    	padding-left: 10px;
    	padding-right: 10px;
			margin-top: 20px;
			text-align: center;
		}

		p{
			padding-left: 0px;
			font-size: 16px;
		}


		.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
  		width: 100%;
  		margin-bottom: 25px;
		}

		.form-control#recaptch-desing{
			margin-top: 10px;
			height: 60px;
	    	width: 100%;
		}
	
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#contact_us{

		h3{
			font-size: 20px;
  			padding-left: 0px;
		}

		p{
  			padding-left: 0px;
		}

		.text-contacts{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-contacts{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 35px;
		}

		.divisor-contacts{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}	

		.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
  		width: 100%;
  		margin-bottom: 25px;
		}
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	#contact_us{

		.text-contacts{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-contacts{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.divisor-contacts{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}	

		h3{
			font-size: 18px;
    	padding-left: 10px;
    	padding-right: 10px;
			margin-top: 20px;
			text-align: center;
		}

		p{
			padding-left: 0px;
			font-size: 16px;
		}


		.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
  		width: 100%;
  		margin-bottom: 25px;
		}


		.form-control#recaptch-desing{
			margin-top: 10px;
			height: 60px;
	    	width: 100%;
		}

		
	
	}
}