#footer{

.containerlogo{
	
		background-size: 100% 100%;
		padding-bottom: 40px;
		padding-top: 40px;
		background: #545454;

		.image{
			width: 100%;
			
			img{
				width: 180px;
				height: 180px;
			}
		}
}

	.containerfooter{
		background-image: url('../frontend/IMAGEN BACKGROUND FOOTER .jpg');
		background-size: 100% 100%;
		height: 337px;
		text-align: center;
		padding-top: 130px;


		a{
		
			color: #AEAEAE;
			text-decoration: none;
			top: 0px;
			left: 0px;
			font-size: 70px;
			z-index: 2;
			position: relative;
		}

		a:hover{
			color: #fbc306;
				-webkit-transition: 0.5s;
				-o-transition: 0.5s;
    			transition: 0.5s;
			
		}
	}
	.containerslice{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 18px;
		color: #818181;	
		width: 100%;
		height: 60px;


		.slice{
			width: 100%;
			display: inline-block;
			width: 60px;
			height: 33px;

			.img-responsive, img {
				padding-top: 10px;
			}
		}

		.muffin{
			display: inline-block;
			width: 90px;

			.img-responsive, img {
				padding-top: 10px;
			}
		}
	}
}

@media (min-width: 1200px) {
	#footer{
			
	.containerslice{
		height: 50px;
		font-size: 16px;

		.textslice{
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.slice{
			padding-top: 00px;
			width: 60px;
			height: 33px;
			}
	}

}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
		#footer{

		.containerfooter{
			text-align: center;
			padding-top: 55px;
			padding-left: 30px;
			width: 100%;
			height: 180px;
		}

		.containerfooter a {
			top: 0px;
			font-size: 40px;
			color: #AFAFAF;
		}

		.containerlogo{

		padding-bottom: 20px;
		padding-top: 20px;

			.image{
			
				img{
				width: 100px;
				height: 100px;
				}
			}
		}
			
	.containerslice{
		height: 50px;
		font-size: 16px;

		.textslice{
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.slice{
			padding-top:0px;
			width: 60px;
			height: 33px;
			}
		}
	}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
		#footer{

		.containerfooter{
			text-align: center;
			padding-top: 55px;
			padding-left: 30px;
			width: 100%;
			height: 180px;
		}

		.containerfooter a {
			top: 0px;
			font-size: 40px;
			color: #AFAFAF;
		}

		.containerlogo{

		padding-bottom: 20px;
		padding-top: 20px;

			.image{
			
				img{
				width: 100px;
				height: 100px;
				}
			}
		}
			
	.containerslice{
		height: 50px;
		font-size: 16px;

		.textslice{
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.slice{
			padding-top: 0px;
			width: 60px;
			height: 33px;
			}
		}
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#footer{

		.containerfooter{
			text-align: center;
			padding-top: 55px;
			padding-left: 30px;
			width: 100%;
			height: 180px;
		}

		.containerfooter a {
			top: 0px;
			font-size: 50px;
			color: #AFAFAF;
		}

		.containerlogo{
			padding-bottom: 20px;
			padding-top: 20px;

			.image{
			
				img{
					width: 100px;
					height: 100px;
				}
			}
		}

		.containerslice{
		height: 50px;
		font-size: 16px;

			.textslice{
				margin-bottom: 0px;
				margin-top: 0px;
			}

			.slice{
				padding-top: 0px;
				width: 60px;
				height: 33px;
			}
		}
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

	#footer{

		.containerfooter{
			text-align: center;
			padding-top: 55px;
			padding-left: 30px;
			width: 100%;
			height: 180px;
		}

		.containerfooter a {
			top: 0px;
			font-size: 40px;
			color: #AFAFAF;
		}

		.containerlogo{

		padding-bottom: 20px;
		padding-top: 20px;

			.image{
			
				img{
				width: 100px;
				height: 100px;
				}
			}
		}
			
	.containerslice{
		height: 50px;
		font-size: 16px;

		.textslice{
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.slice{
			padding-top: 0px;
			width: 60px;
			height: 33px;
			}
		}
	}
}