// import the CSS framework
@import "bootstrap";
@import "font-awesome";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: roboto;

  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
  
.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.panel-heading{
  border-radius:0px;
  padding-top: 17px;
  padding-bottom: 17px;
  background: #8B8889;

  i{
    top: -40px;
    margin-left: 10px;
    font-size: 30px;
  }
}

.panel-title{

    a:hover {
      color: #fbc306;
      }

    a{
    text-decoration: none;
     }
}


.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .submit, .btn-group-lg > .button-xs, .submit {
  background: #545454;
  font-size: 25px;
  text-align: center;
  float: right !important;
  margin-top: 10px;
  margin-bottom: 120px;
  border-radius: 6px;
  border-color: #545454;


  }  

.navbar-toggle {
  margin-top: 17px;
}

.blog {
  margin-top: 15px !important;

  .navbar-default .navbar-collapse, .navbar-default .navbar-form #navbar-category{
    padding-top:0px;
  }
}


.blog .widget h4{
  color: #fbc306;
}

  .navbar-default#bs-example-navbar-collapse-1{
    display: none;
  }


.title-post{
  a{
    text-decoration: none;
    color: #fbc306;
  }
}

.blog .search{
  border-radius: 5px;
}

.blog .date{
 color: #fbc306 !important;
 }

.blog .widget .categories .active{
  border-radius: 5px;
}

.blog .widget .categories:hover{
  border-radius: 5px;
}

.blog .widget .nav-list li a{
  border-radius: 5px;
}

.blog .widget {
  margin-bottom: 20px !important;
}

.textslice{
  padding-top: 1px !important;
}

.read-more.pull-right{
  a{

    color: #fbc306;
    border-radius: 10px;
    border: solid 3px;
    border-color: #C2A727;
    text-decoration: none;
    padding: 5px 5px 5px 5px; 
  }

   a:hover{
      background: #C2A727;
      color: #ffffff;
      -webkit-transition:all 1s ease-out;  /* Chrome y Safari */
    -o-transition:all 1s ease-out;  /* Opera */
    -moz-transition:all 1s ease-out;  /* Mozilla Firefox */
    -ms-transition:all 1s ease-out;   /* Internet Explorer */
    transition:all 1s ease-out;  /* W3C */
    }
 
}