#home {
	height: 100vh;

    	#div-1 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/fondo-1.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
			-o-transition: 3s;
	    	transition: 3s;
		}

		#div-2 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/fondo-2.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
			-o-transition: 3s;
	    	transition: 3s;
		}

		#div-3 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/fondo-3.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
			-o-transition: 3s;
	    	transition: 3s;
		}

		.active{ 
			opacity: 1 !important;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    	transition: 3s;
		}	


	.container{
		position: absolute;
		margin-top: 70px;
		background: #000000;
		opacity: 0.90;
		width: 100%;
	}
	
	ul {
		text-align: center;
		padding-right:65px;
		width: 100%;

		li {
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			font-size: 14px;
			list-style: none;
			position: relative;
			display: inline-block;
			padding: 0px 30px 0px 30px;
			
			a:hover {
			color: #c2a727;
			-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
			-o-transition: 0.5s;
	    	transition: 0.5s;
	    	}	


			a {
				color: #d2d2d2;
				text-decoration: none;
			}

		
			img{
				padding-left: 20px;
				padding-right: 20px;
				position: relative;
				top: 77px;
				margin-top: 0px;
				width: 220px;
			}
		}
	}

	.text-home{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 30px;
		text-align: center;
		color: #d2d2d2;
		margin-top: 85px;
		margin-bottom: 15px;
		margin-right: 10px;
		margin-left: 10px;
		text-align: center;
		padding: 30px 0px 70px 0px;
		color: white;

		span {
			font-family: 'Roboto Condensed', sans-serif;
			color: #ffffff;
			font-weight:700;
		}

	}


	.btn-conocenos{
		position: absolute;

		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		position: relative;
		padding: 7px 6px 7px 6px;
		border-radius: 7px;
		border: solid 3px;
	  	border-color: #C2A727;
		text-decoration: none;
		font-size: 24px;
		background: rgba(194, 167, 39, 0.64);
		color:#E3E9D6;
	}

	.btn-conocenos:hover{
		-webkit-transition:all 1s ease-out;  /* Chrome y Safari */
		-o-transition:all 1s ease-out;  /* Opera */
		-moz-transition:all 1s ease-out;  /* Mozilla Firefox */
		-ms-transition:all 1s ease-out;   /* Internet Explorer */
		transition:all 1s ease-out;  /* W3C */
		background: rgba(0,0,0,0.6);

	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	 #home{

	 	#wrapper{
	 		margin-top: 40%;
	 }
	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#home{
		padding-top: 1px;

		ul{
			display: none;
		}

		img{
			width: 230px;
			padding-top: 20px;
			padding-bottom: 0px;
		}

		.container{
			img{
				width: 160px;
			}
		}


		.text-home{
			font-size: 30px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 20px;
			padding-bottom: 5px;
			padding-top: 20px;
		}

		#wrapper{
			margin-top: 35%;
		}

		.btn-conocenos{
			font-size: 35px;
		}
	}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#home{
		padding-top: 15%;
		ul{
			display: none;
		}

		img{
			width: 230px;
			padding-top: 45px;
			padding-bottom: 0px;
		}

		.container{
			img{
				width: 200px;
			}
		}

		.text-home{
			font-size: 40px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 40px;
			padding-bottom: 5px;
			padding-top: 55px;
		}

		#wrapper{
			margin-top: 85%;
		}

		.btn-conocenos{
			font-size: 35px;
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) and (orientation : landscape){
	#home {
		height: 100vh;
		padding-top: 1%;
	
		.container{
				margin-top: 10px;
				margin-bottom: 0px;
				background: rgba(0, 0, 0, 0.8);
		}

		ul{
			display: none;
		}

		img{
			width: 80px;
			padding-top: 15px;
			padding-bottom: 0px;
		}

		.text-home{
			font-size: 25px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 20px;
			padding-bottom: 5px;
			padding-top: 15px;
		}

		#wrapper{
			margin-top: 32%;
		}
	}
}



/* Landscape phones and smaller */
@media(max-width:767px) and (orientation : portrait){
	#home {
		padding-top: 8%;
		ul{
			display: none;
		}

		img{
			width: 120px;
			padding-top: 30px;
		}

		#wrapper {
			margin-top: 110%;
		}

		.text-home{
			font-size: 22px;
			margin-right: 0px;
			margin-top: 10px;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}

		.btn-conocenos{
			font-size: 22px;
		}

	}
}
