.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 padding-top: 13px;
}



#front-navbar {
	text-align: center;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: white;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);


	.current{
		a{
			color: #fbc306 !important;
		}
	}


	ul{
		float: right;
	}

	li{

		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;

		.ocultarhome{
			display: none;
		}


		a:hover {
		color: #fbc306;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
    	transition: 0.5s;
		}

		a{
			color: #484848;
		}
	}
}

@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#front-navbar {
		ul{
			float: center;
		}
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	#front-navbar {
		ul{
			float: center;
		}
	}
}