#services{
	.panel {
		border: 0px;
	}

	.panel-title{

		font-family: 'Roboto Condensed', sans-serif;
		font-weight:700;
		font-size: 16px;
		text-decoration: none;
		color: #fbc306;
  		margin-bottom: 7px;

	  	#down{
	  		opacity: 1;
	  	}

	  	#left{
	 	opacity: 0;
	  	} 

	}

	.collapsed {
		color: #ffffff !important;

		#down{
	  		opacity: 0;
	  	}

	  	#left{
	  		opacity: 0;
	  	}


	}

	.collapsed:hover{

		#left{
	 	opacity: 1;
	  	}

	}

	.panel-body{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		color: #555555;
		font-size: 23px;
		padding-left: 110px;
		padding-top: 40px;
		padding-right: 110px;
		padding-bottom: 40px;
	}

	.text-services{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: 25px;
		color: #333333;
	}

	.text2-services{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #afafaf;
		margin-top: 15px;
		margin-bottom: 65px;
	
	}

	.divisor{
		width: 90%;
		margin-top: 20px;
		padding-bottom: 0px;
	}

	.bannerservices{
		position: relative;
		background: url('../frontend/descanso visual uno.jpg') no-repeat fixed;
		margin-top: 50px;

		.text-banner{
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			padding-top: 120px;
			padding-bottom: 120px;
			padding-left: 70px;
			margin-left: 0px;
			color: #ffffff;
			font-size: 2em;

			.yellow{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				font-size: 60px;
				color: #fbc306;
			}
		}
	}	


} 

/* Large desktops and laptops */
@media (min-width: 1200px) {
	#services{

		.text-services{
			padding-top:100px;

		}

		.panel-title{
			padding:0px 520px 0px 520px;
		}

		.bannerservices{
			background-position: center center;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		}
		.bannerservices .text-banner{
			text-align: left;
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#services{
		.text-services{
		padding-top: 74px;
		}



		.panel-body{
			padding-left: 20px;
 			padding-right: 20px;
  			padding-top: 20px;
  			padding-bottom: 20px;
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


	#services{

		.text-services{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-services{
			font-size: 20px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 30px;
		}

		.panel-title{
			font-size: 18px;
		}

		.panel-body{
			font-size: 16px;
			padding-left: 20px;
			padding-right: 20px;
		}

	.bannerservices{

		background: url('../frontend/descanso visual uno.jpg');
		background-size: 100% 110%;

		.text-banner{

			padding-top: 90px;
			padding-bottom: 90px;
			padding-left: 0px;
			margin-left: 0px;
			color: #ffffff;
			font-size: 25px !important;

			.yellow{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				font-size: 30px;
				color: #fbc306;
			}
		}
	}

		.divisor{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#services{
		
		.text-services{
			padding-top: 74px;
			font-size: 20px;
		}

		.text2-services{
			font-size: 20px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 30px;
		}

		.panel-title{
			font-size: 16px;
		}

		.panel-body{
			font-size: 16px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.bannerservices{

			background: url('../frontend/descanso visual uno.jpg');
			background-size: 100% 100%;

			.text-banner{

				padding-top: 70px;
				padding-bottom: 70px;
				padding-left: 0px;
				margin-left: 0px;
				font-size: 22px;

				.yellow{
					font-size: 30px;
				}
			}
		}
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	
	#services{

		.text-services{
			padding-top: 75px;
			font-size: 20px;
		}

		.text2-services{
			font-size: 20px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 30px;
		}

		.panel-title{
			font-size: 15px;
		}

		.panel-body{
			font-size: 16px;
			padding-left: 20px;
			padding-right: 20px;
		}

	.bannerservices{

		background: url('../frontend/descanso visual uno.jpg');
		background-size: 100% 110%;

		.text-banner{

			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 0px;
			margin-left: 0px;
			color: #ffffff;
			font-size: 16px;

			.yellow{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				font-size: 30px;
				color: #fbc306;
			}
		}
	}

		.divisor{
			width: 90%;
			height: 20px;
			margin-top: 20px;
			padding-bottom: 0px;
		}

	}


}