.col-lg-9.col-md-9.col-sm-12.col-xs-12
	.post{ width: "98%", style: "margin: 0px;"}
		.preview-post.row{ "ng-if" => "posts.publicate == true"}
			.col-lg-9.col-md-9.col-sm-9.col-xs-12
				= link_to "/blog/posts/{{posts.permalink}}" do
					.image-post{ "ng-if" => "posts.image" }
						%img{ "ng-src" => "{{posts.image}}", alt: "{{posts.title}}", title: "{{posts.title}}" }
				%span.credits.visible-xs {{posts.autor}}, {{posts.day}} {{posts.created_at}}
				%h4.title-post
					= link_to "{{ posts.title | uppercase }}", "/blog/posts/{{posts.permalink}}"
				.content-post{ "ng-bind-html" => "content_html(posts.content)", style: "text-align:justify;"}
				.row.socials{ "ng-if" => "posts.shared_enabled == true" }
					.col-sm-12.col-md-12.col-sm-12.col-xs-12.socials-shared{ style: "margin-bottom: 15px;"}
						.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-facebook
							#fb-root
								.fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
						.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-gplus
							.g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
						.col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-twitter
							= link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#botonesagerente #{@post.title}", "data-url" => "#{request.url}", "data-via" => "botonesagerente"
				.comments{ "ng-if" => "posts.comments_open == true" }
					#fb-root{ style: "margin-bottom:15px;"}
						.fb-comments{ 'data-href' => "#{request.url}",  'data-numposts' => "8", 'data-colorscheme' => "light", "data-width" => "100%" }
			.col-lg-3.col-md-3.col-sm-3.col-xs-12.hidden-xs
				%span.date
					{{posts.day}}
					%small
						{{posts.created_at}}
				%span.info
					%span.block
						%i.fa.fa-user
						POR
						= link_to "{{posts.autor | uppercase}}", "/blog/autor/{{posts.autor_permalink}}/posts"
					%span.block
						%i.fa.fa-folder-open-o
						POSTEADO EN
						= link_to "{{posts.category_name | uppercase}}", "/blog/category/{{posts.category_permalink}}/posts"
					%span.block
						%i.fa.fa-link
						= link_to "PERMALINK", "/blog/posts/{{posts.permalink}}"
	
			

%script{ src:"//platform.twitter.com/widgets.js" }

- if @post.shared_enabled

	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		
		//facebook share
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		//google+ share
		window.___gcfg = {lang: 'es'};

		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

		//chat-comment-facebook
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));