.col-lg-3.col-md-3.col-sm-3.col-xs-12.hidden-xs.hidden-sm
	= render "inyx_blog_rails/posts/widgets/search"
	= render "inyx_blog_rails/posts/widgets/recents"
	= render "inyx_blog_rails/posts/widgets/categories"
	= render "inyx_blog_rails/posts/widgets/tags"
	= render "inyx_blog_rails/posts/widgets/timeline_twitter"