= simple_form_for(@post) do |f|
	.container_form	
		.title_form
			Datos de del post
		.form-inyx
			- unless current_user.has_role? :moderator
				= f.input :title, label:false, input_html: { class: "form-control input-inyx", placeholder: t('post.title'), style: "margin-bottom:15px;" }
				= f.input :content, label: false, input_html: { class: "tinymce", style: "height: 200px;" }

				%div{ "ng-controller" => "formCategoryCtrl", 'ng-init'=> "#{params[:action] == 'new' ? 'init()' : "init(#{@post.category_id}, #{@post.id}, #{@post.to_json}, #{@subcategories.to_json})"}" }
					= f.association :category, label: false, collection: @categories, include_blank: "-  Categorías -", input_html: { class: "form-control input-inyx", "ng-click" => "selectAction()", "ng-model" => "post.category_id", id: "input-category" }
					%select{:name => "post[subcategory_id]", class: "form-control input-inyx", id: "input-post_subcategory_id", "ng-model"=>"obj.subcategories[selected]", "ng-options" => "subcategory.name for subcategory in obj.subcategories track by subcategory.id" }
						%option{ value: "" } - Subcategorías -
				%br
				= f.input :image, label: false, as: :file, input_html: { class: "file input-inyx", placeholder: 'image', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir imágen" : "Cambiar imágen", id: "input-20" }
				%br/
				= f.input :tag_list, label: false, input_html: { class: "form-control tagsinput", placeholder: 'Tags', "data-role"=>"tagsinput", value: @post.tag_list.reverse.join(", ") }
				= f.input :public, :wrapper => :inline_checkbox
				= f.input :comments_open, :wrapper => :inline_checkbox
				= f.input :likes_enabled, :wrapper => :inline_checkbox
				= f.input :shared_enabled, :wrapper => :inline_checkbox
		.panel-footer{ style: "margin-bottom: 10px;"}
			= f.submit "Guardar", class: "btn submit-inyx pull-right"
			.clearfix

= tinymce :alternate

:javascript
	$("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();

- if @post.image.blank?
	:javascript
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: false,
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir imágen',
		});
- else 
	:javascript
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir imágen',
			initialPreview: ['"#{image_tag @post.image, class: 'file-preview-image' if !@post.image.blank?}"'],
			initialCaption: " #{@post.image.file.filename.humanize}"
		});
		



