= content_for(:title, "Blog - Posts") 
.container
	.row.blog{'ng-controller'=>'frontIndexCtrl', 'ng-init'=>"init(#{@posts.to_json})", "when-scrolled" => "loadMore()" }

		= render "layouts/inyx_blog_rails/blog/navbar_categories"
		= render "layouts/inyx_blog_rails/blog/sidebar_left"
		.hidden-lg.hidden-md{ style: "padding: 0px 10px 0px 10px;"}
			= render "inyx_blog_rails/posts/widgets/search"
		= render "layouts/inyx_blog_rails/blog/posts_list"	

	

		
