.nested-fields
	.input-group
		= f.input :name, label: false, input_html: { class: "form-control", placeholder: 'Subcategoría' }
		%span.input-group-btn
			= link_to_remove_association f, class: "btn submit-inyx", style: "color:white;" do
				%i.fa.fa-trash
	%br/